/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Review Assignment

   Customer Information Validation Style Sheet
   Author: Rami Hadey
   Date:   12/3/19

   Filename: rb_validate.css

*/


/* Validation Styles */
/*step12*/
input:focus select:focus textarea:focus{
   background: rgb(255,255,180);
} 
textarea{
   resize: none;
}

input#nameBox:focus:valid, input#phoneBox:focus:valid{
   background: rgb(220,225,220) url(rb_okay.png) right/ contain no-repeat;
}
input#nameBox:focus:invalid, input#phoneBox:focus:invalid{
   background: rgb(220,230,230) url(rb_warning.png) right/ contain no-repeat;
}
